/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/


body {
	margin: 0;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Lora", serif;
  color: #242424;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 18px;
}

h2, h3 {
  color: #3e606b;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.menu img {
  width: 170px;
}

section {
  padding: 80px;
}

.menu ul {
  list-style: none;
  flex-wrap: nowrap;
  display: flex;
}

.menu a {
  text-decoration: none;
  color: #242424;
  padding: 0 15px;
}

.hero {
  background-image: url(images/cupcake.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.hero-text {
  color: white;
  max-width: 1100px;
  padding-right: calc(1100px * 0.4);
  margin-left: auto;
  margin-right: auto;
}

.hero p {
  font-size: 24px;
  color: white;
  font-style: italic;
}

.content-left {
  display: flex;
  padding: 80px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  gap: 30px
}

.content-left img {
  border-radius: 5px;
}

.content-right img {
  border-radius: 5px;
}


.cards {
  display: flex;
}

.card {
  margin-right: 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card img {
  width: calc(1100px / 4);
}

.card p {
  padding: 20px;
}

.card h3 {
  text-align: center;
}

.content-right {
  display: flex;
  padding: 80px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  gap: 30px
}

.nabidka {
  background-color: #f0f0f0;
}

.section-inner {
  max-width: 1100px;
	margin: 0 auto;
}

footer {
  background-color: #303339;
  color:white;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
  display: block;
}

.button a {
  background-color: #f195b2;
  padding: 15px 40px;
  color: white;
  border-radius: 40px;
  text-decoration: none;
}

.button a:hover {
  background-color: #d2567d;
}